.authContainer{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    flex-direction: column;
    padding: 10px;
    margin-left: 300px;
    margin-right: 300px;
}

.emailSubmit{
    margin-left: 100px;
    margin-right: 200px;
    border-radius: 4px;
}

.passwordSubmit{
    margin-left: 100px;
    margin-right: 200px;
    border-radius: 4px;
}

.newSubmit{
    border-radius: 4px;
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 200px;
    background-color: #2F7FE7;
}

.login{
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 200px;
    background-color: #2F7FE7;
}

.user{
    font-size: 20px;
    justify-content: center;
    margin-left: 350px;
}

.out{
    border-radius: 4px;
    justify-content: center;
    margin-left: 350px;
    background-color: #2F7FE7;
}